################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ELE-503-Complete-Learners-Resource/FileContentIndex
/.vs
